html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(16, 153, 187);
}

canvas {
  display: block;
  height: 100%;
  width: 100%;
}